@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
* {
  scroll-behavior: smooth;
  font-family: 'Heebo', sans-serif;
}
body{
  min-width: 100%;
}
x-language{
  & > x-tooltip{
    & > content {
      position: absolute !important;
      top: 100% !important;
      right: 0 !important;
    }
  }
}
button{
  box-shadow: none;
  color: white;
}
.contact > column {
  & > *{
    width: 100%;
    text-align: left;
  }
  & > h4:not(:first-child){
    padding-top: 10%;
  }
  & > column{
    & > row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > * {
        width: 100%;
      }
    }
  }
}
.info {
  color: #2491eb;
}

container.home {
  & > column:nth-child(2){
    background-image: url(images/surgery_room.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

container.doctors {
  & > header{
    position: relative;
    width: 100%;
    height: 25vh;

    display: grid;
    place-content: center;

    background: url("images/general_surgery.jpg");
    background-size: cover;
    background-position: center;

    &::before{
      content: "";  
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2491eb;
      opacity: 0.5;
    }

    & > h1 {
      color: white;
      z-index: 1;
      text-shadow: 0 0 2px black;
    }
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    & > column{
      font-size: 0.7em;
      & > row{
        & > x-modal {
          font-size: 1.4em;
          background: #2491eb;
          text-align: center;
          color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

container.results, container.gallery{
  & > row:nth-child(1){
    max-width: 100dvw;
    gap: 10px;
    padding: 10px;
    & > button > a {
      color: white;
      padding: 10px;
    }
  }
  & > row:nth-child(3), row:nth-child(5), row:nth-child(7){
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;

    & > column{
      max-height: 600px;
      justify-content: space-between;
      & > p{
        height: 60px;
        width: 100%;

        padding: 10px;
        display: grid;
        place-content: center;
      }
      & > span{
        height: 100%;
      }
    }
  }
  & > h2:not(:first-child) {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
container.gallery iframe{
  width: 100%;
  height: 30dvh;
}

@media screen and (min-width: 940px) and (max-width: 1140px){
  container.home {
    & > column:nth-child(2){
      background-attachment: unset;
      & > row {
        & > img {
          width: auto;
          height: 300px;
        }
      }
    }
  }
}
container.bariatric, container.laproskopic{
  & > row:nth-child(3){
    & > column:nth-child(1){
      background-color: rgba(255, 105, 105, 0.5);
      border: 2px solid #FF6969;
    }
    & > column:nth-child(2){
      background-color: rgba(255, 105, 105, 0.5);
      border: 2px solid #FF6969;
    }
    & > column:nth-child(3){
      background-color: rgba(92, 210, 230, 0.5);
      border: 2px solid #5CD2E6;
    }
    & > column:nth-child(4){
      background-color: rgba(92, 210, 230, 0.5);
      border: 2px solid #5CD2E6;
    }
  }
}

container.laproskopic{
  & > column:nth-child(2){
    & > column{
      & > * {
        width: 100%;
      }
      & > p:nth-child(2){
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 940px){
  form[for="sendComment"]{
    width: 100%;
  }
  container.home {
    & > column:nth-child(1){
      & > row:nth-child(1){
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(2){
      /* background-attachment: unset; */
      background-size: 400%;
      background-position: center;
      & > row {
        flex-direction: column;
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(3){
      & > row {
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(4){
      & > row {
        & > img {
          width: 100%;
        }
      }
    }
  }
  .box-modal > img{
    width: 100%;
  }
  container.bariatric, container.laproskopic{
    & > row:nth-child(2){
      & > column {
        height: 50vh;
        & > row > button{
          margin: 10px;
        }
      }
      & > img{
        width: 100%;
      }
    }
    & > row:nth-child(3){
      padding: 10px;
      display: grid;
      gap: 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
    }
    & > row:nth-child(4), & > row:nth-child(5){
      & > img {
        width: 100%;
      }
    }
  }
  container.laproskopic{
    & > h1{
      font-size: larger;
    }
  }
  container.doctors {
    & > header{
      height: 20vh;
    }
    & > div {
      padding: 10px;
      gap: 10px;
      & > column{
        padding: 5px;
        & > row{
          gap: 5px;
          & > x-modal {
            font-size: 15px;
            padding: 5px;
          }
        }
      }
    }
  }
  container.results{
    & > row:nth-child(1){
      gap: 5px;
      padding: 5px;
      & > button > a {
        color: white;
      }
    }
  }
  modal > main{
    min-width: 90dvw;
  }
  .main-row {
    & > :nth-child(1){ order: 3; display: none;}
    & > :nth-child(2){ order: 1;}
    & > :nth-child(3){ order: 2; width: 100%;}
    & > :nth-child(4){ order: 4; display: none;}
  }

  .header-row-main{
    grid-template-columns: 50% 40% 10% !important;
    & > :nth-child(1) {
      order: 2;
      padding-top: 5px;
      
      display: flex;
      flex-direction: row;

      & > a {
        width: 30%;
        & > img{
          width: 100%;
        }
      }
    }
    & > :nth-child(2){ order: 1;}
    & > :nth-child(3){ order: 3;}
  }
  .sm-100 {
    & > * {
      width: 100%;
    }
  }
}


/* ////////////////////////////////////////////// SCROLL ANIMATIONS */
.anim {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.7);
  transition: all 1s ease-in-out;
}

.move{
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1s ease;
}

.anim_left, .anim_right, .anim_rotate{
  opacity: 0;
  filter: blur(5px);
  transition: all 0.8s ease-in-out;
}
.anim_left{
  transform: scale(0.2) translateX(-100%);

}
.anim_right{
  transform: scale(0.2) translateX(100%);
}

.anim_rotate{
  transform: scale(0.2) rotate(180deg);
}
.move_rotate{
  opacity: 1;
  filter: blur(0);
  transform: scale(1) rotate(0);  
}
.move_left, .move_right{
  opacity: 1;
  filter: blur(0);
  transform: scale(1) translateX(0);
}

@media(prefers-reduced-motion){
  .move{
    transition: none;
  }
}

container.admin{
  & > row{
    & > a {
      font-size: 2rem;
    }
  }
}
a.link{
  border-radius: 5px;
  &:hover{
    background-color: #2491eb
  }
}

.x-sm{
  font-size: 0.8em;
  background: #2491eb;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
.doctor-card {
  background-color: var(--color-main-tint-2);
}
.main-video {
  width: 25dvw;
  height: 30dvh;
}
.text-row {
  margin: 4%;
}





/* ///////////////////////////////////////BMI CALC */
/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
/*
  Define CSS variables for colors
*/
:root {
  --background-color: #f6f6f6;
  --vigo-color: #2491eb;
  --slider-color: #A3A3A3;
  --input-number-color: #EBEBEB;
}
.bmi-calculator {
  border: 5px solid white;
  -moz-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  -webkit-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  box-shadow: 0px 0px 10px hsl(0,0%,73.9%);
  padding: 3em;
  margin: 2em;
  height: auto;
  background-color: white;
}
.bmi-calculator-weight, .bmi-calculator-height {
  margin-bottom: 2.2em;
  width: 100%;
}

.weight-slider, .height-slider {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: var(--slider-color); /* Light grey background. */
  outline: none; /* Remove outline. */
}
.range {
  -moz-appearance: none; /* Override default CSS styles */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.range:focus {
  outline: none;
}
.range::-ms-track {
  width: 100%;
  cursor: pointer;
}

/* Special styling for WebKit/Blink */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2.5px solid var(--vigo-color);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
  margin-top: 0px;
}

.range::-moz-range-thumb {
  border: 2.5px solid var(--vigo-color);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

.range::-ms-thumb {
  border: 2.5px solid var(--vigo-color);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

.number {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  /* Real styling part :D */
  background: var(--input-number-color);
  border-style: none;
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.number:focus {
  outline: none;
}

.gumb {
  text-align: center;
  font-size: 1em;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 32px;
  border: none;
  background-color: var(--vigo-color);
  text-transform: uppercase;
  cursor: pointer;
}
/*
Media querie for iPhone 5
*/
@media only screen and (max-width: 325px) {
  .bmi-calculator {
    height: 560px;
  }

  h1 {
    font-size: 1.5em;
  }
}


@media (min-width: 768px) {
  .panel {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .panel {
      width: 70dvw;
      margin-left: auto;
      margin-right: auto;
  }
}


.header-row-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  & > :nth-child(1) {
    width: 30%;
    gap: 3px;
    
    & > a {
      transform: scale(0.8);
      margin-top: -5px;
      & > img{
        background: #0674ce;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
  & > * {
    text-align: center;
    margin-top: -5px;
    justify-content: center;
  }

  & > :nth-child(3){

    text-align: right;
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
  }
}

button, .btn,  input[type=submit]{
  background-color: #2491eb;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.img-cover{
  width: 100%;
  max-height: 600px;
  overflow: hidden;

  display: grid;
  place-content: center;

  & > img{
    transition: .5s;
    transform: scale(1.5);
  }

  &:hover{
    & > img{
      transform: scale(1);
    }
  }
}




/* IOS WEBKIT */
menu{
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);

  &.show{
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
  }

  & > main{

    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    gap: calc(var(--gap) / 2);
    -webkit-gap: calc(var(--gap) / 2);

    & section{
      &.container{
        display: flex;
        -webkit-display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;

        & > section{
          &.parentMenu{
            display: flex;
            -webkit-display: flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            transition-property: background-color, border;
            -webkit-transition-property: background-color, border;
          }

        }
      }
    }
  }


  @media only screen and (max-width: 600px){
    width: 100vw;

    & > header{
      & > x-icon[for=toggleAlwaysOpenMode]{display: none;}
    }
  }
}