body{
  min-width: 100%;
}
container.home {
  & > column:nth-child(2){
    background-image: url(images/klinika.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(71, 165, 241, 0.7);
    background-blend-mode: overlay;
  }
}
@media screen and (min-width: 940px) and (max-width: 1140px){
  container.home {
    & > column:nth-child(2){
      & > row {
        & > img {
          width: auto;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 940px){
  container.home {
    & > column:nth-child(1){
      & > row:nth-child(1){
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(2){
      & > row {
        flex-direction: column;
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(3){
      & > row {
        & > img {
          width: 100%;
        }
      }
    }
    & > column:nth-child(4){
      & > row {
        & > img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1140px){
  container.home {
    & > column:nth-child(1){
      & > row:nth-child(1){
        & > column{
          position: absolute;
          top: 60px;
          right: 1rem;
        }
      }
    }
  }
}














/* ///////////////////////////////////////BMI CALC */
.c-bmi {
  border-radius: .25rem;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif;
  padding: 1rem;
  max-width: 40rem;
  width: 100%;
  }
  .c-bmi fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  }
  .c-bmi__group-text {
  display: none;
  font-size: large;
  order: 2;
  padding: 1rem 0;
  text-align: left;
  width: 100%;
  }
  .c-bmi__groups {
  border: 0;
  flex-wrap: wrap;
  font-size: x-small;
  padding: 0;
  text-align: center;
  width: 100%;
  }
  .c-bmi__groups label {
  display: block;
  padding: .5rem;
  position: relative;
  }
  
  [for="bmi-g0"] { background-color: #4691e2; }
  [for="bmi-g1"] { background-color: #0cb764; }
  [for="bmi-g2"] { background-color: #febf18; }
  [for="bmi-g3"] { background-color: #fc8711; }
  [for="bmi-g4"] { background-color: #ff6455; }
  [for="bmi-g5"] { background-color: #cc1100; color: #fff; }
  
  .c-bmi__groups input:checked + label::before {
  background-color: #fff;
  clip-path: polygon(0% 0%,0% 100%,75.00% 50.00%);
  content: '';
  display: inline-block;
  height: 1rem;
  left: 0.5rem;
  position: absolute;
  top: 0.35rem;
  width: 1rem;
  }
  .c-bmi__groups input:checked + label + div {
  display: block;
  flex: 0 0 100%;
  }
  .c-bmi__label {
  display: block;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  position: relative;
  }
  .c-bmi__label output {
  position: absolute;
  right: 0;
  top: 0;
  }
  .c-bmi__range {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  }
  .c-bmi__range::-webkit-slider-runnable-track {
  background-image: linear-gradient(to bottom, transparent 45%, #2491eb 45%,#2491eb 55%, transparent 55%);
  }
  .c-bmi__range::-moz-range-track {
  background-image: linear-gradient(to bottom, transparent 45%, #2491eb 45%,#2491eb 55%, transparent 55%);
  }
  .c-bmi__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(207, 83%, 53%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  }
  .c-bmi__range::-moz-range-thumb {
  appearance: none;
  background-color: hsl(225,100%,20%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  }
  .c-bmi__range:focus::-webkit-slider-thumb {
  background-color: hsl(225,100%,20%);
  box-shadow: inset 0 0 0 0.25rem hsl(225,100%,20%);
  }
  .c-bmi__range:focus::-moz-range-thumb {
  background-color: hsl(225,100%,20%);
  box-shadow: inset 0 0 0 0.25rem hsl(225,100%,20%);
  }
  .c-bmi__result {
  display: block;
  font-size: 200%;
  margin-bottom: 1.5rem;
  text-align: right;
  }
  .c-bmi [type="radio"] { display: none; }
  
  /* RWD */
  @media (min-width: 600px) {
  .c-bmi__groups { display: flex; }
  .c-bmi__groups input:checked + label::before {
      background-color: inherit;
      clip-path: polygon(0% 0%,100% 0%,50% 100%);
      left: 50%;
      top: -1rem;
      transform: translateX(-50%);
      width: 1.5rem;
  }
  .c-bmi__groups label { flex: 1; }
  [for="bmi-g0"] { border-radius: .25rem 0 0 .25rem; }
  [for="bmi-g5"] { border-radius: 0 .25rem .25rem 0; }
  }